//
  h4 No. of Hearts: " + <span class='userHeartCount'>heartCount</span>
  h4= Direction: <span class='userDirection'>-</span>
  h4= Active: <span class='userActive'>-</span>
  h4= Duration: <span class='duration'>-</span>

h3!= "<span class='user-text'>No. of Hearts: </span>" + heartCount
h3!= "<span class='user-text'>Direction: </span>" + direction
h3!= "<span class='user-text'>Active: </span>" + active
h3!= "<span class='user-text'>Duration: </span>" + duration + " secs"