//
  h4 No. of Hearts: " + <span class='userHeartCount'>heartCount</span>
  h4= Direction: <span class='userDirection'>-</span>
  h4= Active: <span class='userActive'>-</span>
  h4= Duration: <span class='duration'>-</span>

h3= "No. of Hearts: " + heartCount
h3= "Direction: " + direction
h3= "Active: " + active
h3= "Duration: " + duration + " secs"