//
  h4 No. of Hearts: " + <span class='userHeartCount'>heartCount</span>
  h4= Direction: <span class='userDirection'>-</span>
  h4= Active: <span class='userActive'>-</span>
  h4= Duration: <span class='duration'>-</span>

h4= "No. of Hearts: " + heartCount
h4= "Direction: " + direction
h4= "Active: " + active
h4= "Duration: " + duration + " secs"